<main>
    <div id="user-info">
        <div id="info-header">
            <h2>{{user_title}} {{name}}</h2>
        </div>

        <div id="patients-list">
            <h3>Patients:</h3>

            <ul>
            {{#each Patients}}
                <li>
                    {{Patients.name}}
                </li>
            {{/each}}
            </ul>
        </div>

        <div id="surgeries-list">
            <h3>Upcoming surgeries:</h3>
            <ul>
            {{#each surgeries}}
                <li>
                    {{this.type}} on {{this.date}}
                </li>
            {{/each}}
            </ul>
        </div>
    </div>
</main>
